@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto')

body
    font-family: Roboto
    background: #fff
    font-size: 16px
    margin: 0px

h1
    color: coral
    font-family: 'Bitter', serif
    font-size: 1.8rem
    margin: 0

.container
    max-width: 1200px
    width: 100%
    margin: 0 auto

.main
    display: flex

.list
    width: 60%
    background-color: pink

.detail
    width: 40%
    background-color: lightskyblue

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 12px 20px

    p
        margin: 0

@import './footer.sass'
@import './control-panel.sass'
@import './coin-list.sass'