body
  font-family: Roboto
  background: lightgrey
  font-size: 22px

h1, .coin-code
  text-transform: uppercase

h1
  color: coral
  margin-top: 5px

.container
  padding: 20px 0
  border-radius: 5px
  background: white
  width: 100%
  text-align: center

.coin-list
  list-style: none

  li
    display: grid
    grid-template-columns: repeat(7, 1fr)
    padding: 25px 0
    border-top: 2px solid lightgrey

    &:last-of-type
      border-bottom: 2px solid lightgrey

ul
  padding: 0

  .coin-name
    grid-column: 3 / 6

  .coin-price
    text-align: right
    padding-right: 10px
    grid-column: 6 / 8

.control-panel
  padding: 0 10px 10px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 5px

  input
    font-size: 1.2rem
    padding: 0 10px
    grid-column: 1 / 4
    border: 3px solid coral
    border-radius: 5px

button
  background: white
  color: coral
  cursor: pointer
  font-size: 1.2rem
  border: 3px solid coral
  border-radius: 5px
  padding: 0.8rem 1.1rem
  outline: none

  &:hover
    color: white
    background: coral

.add-coins
  margin-top: 15px
  padding: 0 10px
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 6px

  div
    cursor: pointer
    border: 1px solid lightgrey
    border-radius: 5px
    padding: 20px 0

    &:hover
      color: white
      background: lightgrey
