body
  font-family: Roboto
  background: lightgrey
  font-size: 22px

h1, .coin-code
  text-transform: uppercase

h1
  margin-top: 5px

.container
  padding: 20px 0
  border-radius: 5px
  background: white
  width: 100%
  text-align: center

.coin-list
  list-style: none

ul
  padding: 0

  li
    display: grid
    grid-template-columns: repeat(7, 1fr)
    padding: 25px 0
    border-top: 2px solid lightgrey

  .coin-name
    grid-column: 3 / 6

  .coin-price
    text-align: right
    padding-right: 10px
    grid-column: 6 / 8

.control-panel
  display: flex
  justify-content: space-around

button
  background: white
  color: coral
  cursor: pointer
  font-size: 1.2rem
  border: 3px solid coral
  border-radius: 5px
  padding: 0.8rem 1.1rem

  &:hover
    color: white
    background: coral