@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto')

body
  font-family: Roboto
  background: lightgrey
  font-size: 20px

.coin-code
  text-transform: uppercase

h1
  color: coral
  font-family: 'Bitter', serif
  margin-top: 5px